APP_NAME="MOMO TECH SERVICE"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://momotechservice.com

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=momotech
DB_USERNAME=evrard
DB_PASSWORD=Arabat54@

JWT_SECRET=Arabat54a
JWT_TTL=1440

SESSION_DRIVER=file
SESSION_LIFETIME=120
